html {
    scroll-behavior: smooth;
}

body {
    background-color: #f4f7fb;
    color: #263238;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    font-weight: bold;
}

header {
    background-color: #1e3a5f;
    color: white;
    position: sticky;
    top: 0px;
    padding: 5px;
    z-index: 1000;
}

#intro {
    text-align: center;
    margin: 20px;
}

#intro a {
    font-size: 20px;
}

nav {
    font-weight: bold;
    display: flex;
    gap: 20px;
    justify-content: center;
}

nav .nav-link {
    color: white;
}

nav a {
    color: white;
    text-decoration: none;
}

#first {
    text-align: center;
    padding: 100px;
    line-height: 3;
}

@media (max-width: 767px) {
    #first {
        padding: 50px 40px;
    }
}

#Name {
    font-size: 35px;
    font-weight: bold;
}

.home-text {
    max-width: 600px;
}

#first .row {
    justify-content: center;
}

#major {
    font-size: 20px;
    font-weight: bold;
}

#me {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    max-width: 100%;
}

#second {
    background-color: white;
    border-radius: 15px;
    padding: 30px;
    margin: 30px;
    line-height: 1.8;
}

#third {
    background-color: #e8f1f8;
    border-radius: 15px;
    padding: 30px;
    margin: 30px;
    line-height: 1.8;
}

#fourth {
    background-color: white;
    border-radius: 15px;
    padding: 30px;
    margin: 30px;
    line-height: 1.8;
}

#fifth {
    background-color: #e8f1f8;
    border-radius: 15px;
    padding: 30px;
    margin: 30px;
    line-height: 1.8;
}

h2 {
    color: #1e3a5f;
}

h3 {
    color: #355c7d;
}

h4 {
    color: #3379b6
}

#Userlist {
    width: 100%;
    height: auto;
}

@media (min-width: 768px) {
    #Userlist {
        width: 50%;
    }
}

section {
    scroll-margin-top: 200px;
}

@media (max-width: 767px) {
    section {
        scroll-margin-top: 350px;
    }
}

footer {
    text-align: center;
}

#face {
    width: 30px;
    height: 30px;
}

#Vol1 {
    width: 250px;
    height: 200px;
    object-fit: cover;
    max-width: 100%;
}

#Vol2 {
    width: 250px;
    height: 200px;
    object-fit: cover;
    max-width: 100%;
}

#Vol3 {
    width: 250px;
    height: 200px;
    object-fit: cover;
    max-width: 100%;
}

#Vol4 {
    width: 250px;
    height: 200px;
    object-fit: cover;
    max-width: 100%;
}